* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: #141414;
  width: 100%;
  min-height: 100vh;
}

.movie-slider {
  display: flex;
  align-items: flex-start;

  gap: 16px;
  overflow-x: auto;
  width: 100%;

  padding: 20px 32px;
}
