@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-4 {
    -webkit-text-stroke: 4px #808080;
  }
}

body {
  color: white;
  background: #141414;
  width: 100%;
  min-height: 100vh;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  height: 100%;
  transition: opacity 0.3s;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0 !important;
}

.hero-img {
  mask-image: linear-gradient(black 30%, transparent);
}
